@charset "utf-8";

/* CSS reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea{margin:0;padding:0;border:0;font-style:normal;vertical-align:baseline;}
table{width:100%;border:0;border-collapse:collapse;border-spacing:0;font-size:inherit;table-layout:fixed;}
html{overflow-y:hidden;overflow-x:auto;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
body{width:100%;font-weight:400;font-family:'NaverNanumSquareNeo', sans-serif;font-size:16px;color:#111;-webkit-text-size-adjust:none;text-size-adjust:none;}
hr,caption,legend{display:none;}
input,textarea,select{font-family:inherit;vertical-align:middle;}
button{padding:0;border:0;background-color:transparent;}
a{text-decoration:none;color:#111;}
strong,b{font-weight:700;}
